h1 {
    text-align: center;
    font-size: 40px;
}
.categories-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    background-color: white;
    border-radius: 30px;
}
.buttons {
    font-size: 20px;
    margin: 30px;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    border-color: #555555;
    color: white;
    border-width: 10px;
    border-style: solid;
    background-color: #377bb0;
}
.buttons:hover {
    background-color: #4196d6;
}