/* 
 * Credit: Mateusz Rybczonec
 * Source: https://css-tricks.com/how-to-create-an-animated-countdown-timer-with-html-css-and-javascript/ 
 */

 /* Sets the containers height and width */
.base-timer {
    position: relative;
    width: 300px;
    height: 300px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
    fill: none;
    stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
   stroke-width: 10px;
   stroke: grey;
}

.base-timer__path-remaining {
    /* Just as thick as the original ring */
    stroke-width: 10px;
    /* Rounds the line endings to create a seamless circle */
    stroke-linecap: round;
    /* Makes sure the animation starts at the top of the circle */
    transform: rotate(90deg);
    transform-origin: center;
    /* One second aligns with the speed of the countdown timer */
    transition: 1s linear all;
    fill-rule: nonzero;
    /* Allows the ring to change color when the color value updates */
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: #1fc700;
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    position: absolute;
    /* Size should match the parent container */
    width: 300px;
    height: 300px;
    /* Keep the label aligned to the top */
    top: 0;
    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Sort of an arbitrary number; adjust to your liking */
    font-size: 100px;
}