body { background-color: #56dbaf; }

div.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: -8px;
    height: 50px;
    background-color: #b88a4e;
}
input#search-box {
    padding: 10px;
    width: 320px;
    border: none;
    border-radius: 7px;
    font-size: 19px;
}
/*
#btnSearch {
    margin-left: -12px;
    font-size: 16px;
    height: 45px;
    border-radius: 7px;
    border: none;
    background-color: #828584;
}
*/
button.right-buttons {
    position: relative;
    margin: 6px 7px;
    font-size: 16px;
    width: 110px;
    height: 48px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#btnSignUp { background-color: #67298b; }
#btnSignUp:hover { background-color: #812bb3;}
#btnLogin { background-color: #af02af;}
#btnLogin:hover { background-color: #cc03cc; }
