body { background-color: #56dbaf; }

div.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: -8px;
    height: 50px;
    background-color: #b88a4e;
}
input#search-box {
    padding: 10px;
    width: 320px;
    border: none;
    border-radius: 7px;
    font-size: 19px;
}
/*
#btnSearch {
    margin-left: -12px;
    font-size: 16px;
    height: 45px;
    border-radius: 7px;
    border: none;
    background-color: #828584;
}
*/
button.right-buttons {
    position: relative;
    margin: 6px 7px;
    font-size: 16px;
    width: 110px;
    height: 48px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


  .dropbtn {
    background-color: #af4c8e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #8e3e7d;}

#btnSignUp { background-color: #67298b; }
#btnSignUp:hover { background-color: #812bb3;}
#btnLogin { background-color: #af02af;}
#btnLogin:hover { background-color: #cc03cc; }
