h1.invalid {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* Add padding to containers */
.container {
    padding: 15px;
  }
  

  /* Full-width input fields */
  form input[type=text], form input[type=password], form input[type=email] {
    width: 400px;
    padding: 15px;
    
    margin: 5px 0 20px 0;
    display: block;
    border: none;
    background: #f1f1f1;
  }

  
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .btnLogin {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 20px;
  }
  
  .btnLogin:hover {
    opacity:1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }





#btnRegister { 
    margin: 6px 7px;
    font-size: 20px;
    padding: 17px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #67298b; 
}
#btnRegister:hover { background-color: #812bb3;}

