{% extends 'quizzit/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %} 

{% block body_block %}
    <div style="font-family: 'Trebuchet MS'; text-align: center">
        <h1><u>About</u></h1>
        <p style="font-size: 22px">
            Quizzit is a web application which delivers quizzes to people who want to challenge themselves 
            on specific topics and categories against the world. <br />
            The website is easy to navigate through, you can easily create an account using the Sign Up button or simply play quizzes as a guest.
            <div>
                <h2><u>Account Privileges</u></h2>
                <p style="font-size: 21px">
                    All types of users will be able to play multiple choice quizzes from all genres in the easy to medium difficulty categories. 
                    Registered users will be able to play the hard difficulty and will be able to access more features in the application. 
                    Users will be able to view a leader-board, (only listing registered users) where they can see if their attempt was excellent, adequate or worse in comparison to other users. 
                    This will be based off the number of correct answers and time remaining for each quiz the user attempts. This adds a competitive edge making it an increasingly challenging and fun concept of doing quizzes. 
                </p>
            </div>
        </p>
        <br />
        <h2><u>Contact Us</u></h2>
        <div style="font-size: 21px">
        <p>
            Feel free to contact us by e-mail if you have queries about our site. <br />
            <ul style="list-style-position: inside">
                <li>Ashwyn Bahanda: 2457696B@student.gla.ac.uk</li>
                <li>Stergious Aji: 2546916A@student.gla.ac.uk</li>
            </ul>
        </p>
        </div>
    </div>
{% endblock %}