{% extends 'quizzit/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Categories
{% endblock %}

{% block link_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/categories.css' %}"/>
{% endblock %}

{% block body_block %}
    <h1><u>Categories</u></h1>
    <div class="categories-container">
        <button>Button 1</button>
        <button>Button 1</button>
        <button>Button 1</button>
        <button>Button 1</button>
        <button>Button 1</button>
        <button>Button 1</button>
        <button>Button 1</button>
        <button>Button 1</button>
        <button>Button 1</button>
        <button>Button 1</button>
    </div>
{% endblock %}