{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Quizzit Home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
</head>
<body>
    <div class="header">
        <div id="logo-container">
            <h1>QUIZZIT</h1>
        </div>
        <div id="center-content">
            <input id="search-box" type="text" placeholder="Search">
            <!--<button id="btnSearch">Search</button>-->
        </div>
        <div id="right-content">
            <button class="right-buttons" id="btnSignUp">Sign Up</button>
	        <button class="right-buttons" id="btnLogin">Log in</button>
        </div>
    </div>
    <div class="menu-area">
        <ul>
            <li><a href="#">Categories</a></li>
            <li><a href="#">How To Play</a></li>
            <li><a href="#">Leaderboard</a></li>
            <li><a href="#">About</a></li>
        </ul>
        
        
        
    </div>
</body>
</html>