{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Quizzit Home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
</head>
<body>
    <div class="header">
        <div id="logo-container">
            <h1>QUIZZIT</h1>
        </div>
        <div id="center-content">
            <input id="search-box" type="text" placeholder="Search">
            <!--<button id="btnSearch">Search</button>-->
        </div>
        <div id="right-content">
            <button class="right-buttons" id="btnSignUp">Sign Up</button>
	        <button class="right-buttons" id="btnLogin">Log in</button>
        </div>
    </div>

    <div class="navbar">
        <div class="dropdown">
            <a id="categories" href="#categories">Categories</a>
            <div class="dropdown-categories">
                <a href="#history">History</a>
                <a href="#geography">Geography</a>
                <a href="#sport">Sport</a>
            </div>
        </div>
        <a href="#howtoplay">How to Play</a>
        <a href="#leaderboard">Leaderboard</a>
        <a href="#about">About</a>
    </div>
</body>
</html>