{% extends 'quizzit/base.html' %}
{% load staticfiles %}

{% block link_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}"/>
{% endblock %}

{% block title_block %}
    {% if quiz %}
        {{ quiz.name }}
    {% else %}
        Unknown Quiz
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if user_done == False %}
        {% if question %}
            <div class="timer">
                <p id="ten-countdown"></p>
            </div>

            <div class="question-container">
                <h1 id="txtQuestion">{{ question.question_text }}</h1>
            </div>

            <div class="multiple-choice-container" id="1">
                <button class="mc-buttons" id="btnChoiceA" onclick="chooseButton(this)">{{ question.choiceA }}</button>
                <button class="mc-buttons" id="btnChoiceB" onclick="chooseButton(this)">{{ question.choiceB }}</button>
            </div>
            <div class="multiple-choice-container" id="2">
                <button class="mc-buttons" id="btnChoiceC" onclick="chooseButton(this)">{{ question.choiceC }}</button>
                <button class="mc-buttons" id="btnChoiceD" onclick="chooseButton(this)">{{ question.choiceD }}</button>
            </div>

            <div class="control-question-container">
                <p>{{ question.index }}/{{ num_of_questions }}</p>
                <p>{{ record_form }}</p>

                {% if question.index == num_of_questions %}
                    <form method="post">
                        {% csrf_token %}
                        <a class="finish" type="submit" onclick="next()" href="{% url 'quizzit:quiz' category_name_slug quiz.slug %}">Finish</a>
                    </form>
                {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <a class="next" type="submit" onclick="next()" href="{% url 'quizzit:quiz' category_name_slug quiz.slug %}">Next &#8250;</a>
                    </form>
                {% endif %}
            </div>

            <span id="index" style="visibility: hidden">{{ question.index }}</span>

            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
            <script type="text/javascript" src="{% static 'js/quiz.js' %}"></script>
        {% else %}
            There is no question to show.
        {% endif %}
    {% else %}
        <h1>Score: {{ user_score }}</h1>
    {% endif %}
{% endblock %}